<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="status.css">
    <script type="importmap">
        {
            "imports": {
                "@html-widget/core": "/@html-widget/core/core-elements/lib.mjs"
            }
        }
    </script>
</head>
<body>
    <script type="module" src="/vacation-app/status/Status.mjs"></script>
    <%- include('./body.ejs'); %>
</body>
</html>
