# Google Auth
CLIENT_ID=
CLIENT_SECRET=
CALLBACK_URL=

# Calendar
CALENDAR_ID=
GKEY_FILENAME=

# Server
PORT=3000
SESSION_SECRET=
SERVER_NAME=https://server.ext

# Email
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com
EMAIL_FROM=
EMAIL_USER=
EMAIL_PASSWD=

# Logging
LOGFILE=logs/log.txt
LOG_LEVEL=info          # silent, fatal, error, warn, info, debug, trace
NODE_ENV=development    # development | production | test
DB_ENV=debug            # debug | production
DB_SESS_ENV=production  # debug | production

# Database
EMPTY_DB_PATH=db/empty.db
DB_DIR=db
DB_NAME=production.db
SESSION_DB=db/sessions.db

# Route & asset locations
ROUTES_PATH=server/routes/enabled