<template id="submit-popup-template">
    <link rel="stylesheet" href="/vacation-app/submit-popup/submit-popup.css">
    <div id="outer">
        <div id="message"></div>
        <div class="button" id="ok_button">OK</div>
    </div>
</template>
