<script type="module" src="/vacation-app/idle-throbber/IdleThrobber.mjs"></script>

<template id="idle-throbber-template">
    <link rel="stylesheet" href="/vacation-app/idle-throbber/idle-throbber.css">

    <div id="outer">
        <div id="message"></div>
        <img src="120px_idle.gif" />
    </div>
</template>