<div>The vacation application submitted by <%- name %> has been accepted.</div>
<div>Confirmation email sent to <%- email %>.</div>
<div>The institution <%- institution %> has been notified at <%- inst_email %>.</div>