@import '../shared_scss/borders.scss';
@import '../shared_scss/button.scss';

form{
    position: absolute;    
    top: 50px;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;    

    * {
        display: block;
        margin: 10px;
        box-sizing: border-box;
    }

    .center{
        text-align: center;
    }

    .section{
        @include single_border(#0000ff);
        width: 90%;        
        background-color: rgba(168, 202, 205, 0.25);

        * {
            position: relative;
            left: 5px;
        }

        input{
            width: 90%;
        }

        &.hidden{
            display: none;
        }
    }

    #submit{
        width: 90%;
        height: 50px;
    }

    .note{
        font-variant-caps: small-caps;
        color: rgb(119, 119, 119);
    }

    .hidden{
        display: none;
    }

    .logout{
        font-variant-caps: small-caps;
        text-align: center;
        text-decoration: none;
        color: black;

        &:hover{
            color: blue;
            font-weight: bold;
        }
    }
}

idle-throbber{
    position: absolute;
    left: 51%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 140px;
}

submit-popup{
    position: absolute;
    left: 51%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 240px;
}