<form id="main_form" action="/submit" method="POST">
    <div class="section">
        <h2 class="center">Vacation Request Form</h2>

        <div class="section">
            <b>Name</b>
            <input type="text" name="name" />
        </div>
        <div class="section">
            <b>Email</b>
            <input type="text" name="email" />
        </div>
        <div class="section" id="verify-email">
            <b>Verify Email</b>
            <input type="text" name="verify-email" />
        </div>        
        <div class="section">
            <b>Institution</b>
            <select name="institution">
                <option value="n/a"></option>
                <option value="brock">Brock</option>
                <option value="guelph">Guelph</option>
                <option value="laurier">Laurier</option>
                <option value="mcmaster">McMaster</option>
                <option value="otu">OTU</option>
                <option value="waterloo">Waterloo</option>
                <option value="western">Western</option>
                <option value="windsor">Windsor</option>
                <option value="york">York</option>
            </select>
        </div>
        <div class="section">
            <b>Duration</b>
            <select id="duration" name="duration">
                <option value="am">AM</option>
                <option value="pm">PM</option>
                <option value="full" selected="selected">Full Day</option>
            </select>
        </div>
        <div class="section">
            <b>Dates</b>
            <div id="depart">
                <div class="note">Depart - the first day of your vacation.</div>
                <input type="date" id="start_date" name="start_date" />
            </div>
            <div id="return">
                <div class="note">Return - the last day of your vacation.</div>
                <input type="date" id="end_date" name="end_date" />
            </div>
        </div>
        <button class="button" id="submit" disabled>SUBMIT</button>
    </div>
    <br>
    <a class="logout" href="https://vacation.sharcnet.ca/Shibboleth.sso/Logout">Log out from Alliance SSO</a>
</form>

<idle-throbber class="hidden"></idle-throbber>
<submit-popup class="hidden"></submit-popup>