<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="index.css" />
    </head>
    <body>        
        <%- include('./body.ejs'); %>
        <%- include('../submit-popup/submit-popup.ejs'); %> 
        <%- include('../idle-throbber/idle-throbber.ejs'); %>
        <script type="module" src="landing/landing.mjs"></script>        
        <script type="module" src="landing/calendarValidation.mjs"></script>        
    </body>
</html>
