<script type="module" src="/vacation-app/submit-popup/SubmitPopup.mjs"></script>

<template id="submit-popup-template">
    <link rel="stylesheet" href="submit-popup.css">
    <div id="outer">
        <div id="message"></div>
        <div class="button" id="ok_button">OK</div>
    </div>
</template>
