<!-- google_button.ejs -->

<% if (user) { %>
    <p class="standalone-text">Welcome, <%= user.name %></p>
    
    <a href="/landing" class="button">
        <div>Continue to Site</div>    
    </a>    
    
    <a href="/auth/logout" class="google-btn">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
        <div>Sign out of Google</div>    
    </a>
<% } else { %>
    <a href="/auth/login" class="google-btn">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
        <div>Sign in with Google</div>
    </a>
<% } %>