<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" href="index.css" />
    </head>
    <body>
        <div class="outermost_form">
            <div class="section">
                <div class="section">
                    <img class="sharcnet_logo" src="sharcnet_logo.jpg">
                </div>
                <div class="section">
                    <a href="/auth/login" class="google-btn">
                        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
                        <div>Sign in with Google</div>
                    </a>
                </div>
            </div>        
        </div>
    </body>
</html>