/* Error: Undefined mixin.
 *   ,
 * 4 |     @include double_border(rgb(44, 127, 48));
 *   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   client-src/scss/_button.scss 4:5  @use
 *   client-src/scss/index.scss 4:1    @use
 *   client-src/scss/status.scss 3:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502      @include double_border(rgb(44, 127, 48));\d\a   \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   client-src/scss/_button.scss 4:5  @use\a   client-src/scss/index.scss 4:1    @use\a   client-src/scss/status.scss 3:1   root stylesheet";
}
